<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znph.saas.sys.mapper.DictMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.znph.saas.sys.entity.Dict">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="remark" property="remark" />
		<result column="table_name" property="tableName" />
	</resultMap>

</mapper>
